/* Style général */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #1e90ff; /* fond bleu */
    overflow: hidden; /* cache les scrollbars */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

header h1 {
    margin-top: 20px;
    font-size: 3rem;
    color: white;
    text-align: center;
}

/* Bouton */
button {
    margin-top: 50px;
    padding: 15px 40px;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s, background 0.5s;
    background-color: #ff6347; /* rouge/orangé */
    color: white;
}

button:hover {
    transform: scale(1.1);
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* derrière le contenu */
}
